html {
  background-color: #3d405b;
}
main {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}
.calcContainer {
  display: flex;
  flex-direction: column;
  background: hsl(234, 20%, 10%);
  border: 2px solid;
  width: 460px;
  min-width: 448px;
  height: 560px;
  padding: 20px;
  border-radius: 15px;
  font-family: "Gemunu Libre", sans-serif;
  color: #f4f1de;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Display Container */

.dispContainer {
  display: flex;
  flex-direction: column;
  height: 100px;
  background: hsl(234, 20%, 35%);
  border: 2px solid;
  border-radius: 10px;
  /* box-shadow: 0px 0px 1px 1px rgb(244, 241, 222, 0.5); */
  margin: 10px 10px;
  transition: all 0.2s;
}
.dispContainer:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: hsl(234, 20%, 65%);
    color: black;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.LHS_Disp {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 2px solid; */
  margin: 10px 20px 0px 10px;
}

.LHS_Disp p {
  font-size: 24px;
  margin: 0;
}

.mainDisp {
  flex: 1 1 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 2px solid; */
  margin: 0px 20px 10px 10px;
}

.mainDisp p {
  font-size: 34px;
  margin: 0;
}

/* Mid Container */

.midContainer {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 5px 10px;
}

.midB {
  font-family: inherit;
  font-weight: 600;
  font-size: 22px;
  border: 2px solid;
  border-radius: 5px;
  transition: all 0.2s;
  color: #f4f1de;
  width: 102px;
}

.midB#clear,
.midB#backspace {
  background: hsl(13, 68%, 20%);
}
.midB#clear:hover,
.midB#backspace:hover {
    color: black;
    background-color: hsl(13, 68%, 60%);
    border-color: black;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.midB#clear:active,
.midB#backspace:active {
    background-color: hsl(13, 68%, 90%);
}

.midB#plusMinus,
.midB#percent {
  background: hsl(37, 79%, 20%);
}
.midB#plusMinus:hover,
.midB#percent:hover {
    color: black;
    background-color: hsl(37, 79%, 60%);
    border-color: black;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.midB#plusMinus:active,
.midB#percent:active {
    background-color: hsl(37, 79%, 90%);
}
.material-icons-outlined {
  font-family: "Material Icons";
  /* font-weight: normal;
    font-style: normal; */
  font-size: 20px; /* Preferred icon size */
  /* display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr; */

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Bottom Container */

.bottomCont {
  display: flex;
  flex: 1 1 auto;
}

.numPadCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  flex: 1 1 75%;
  padding: 10px 10px;
}

.numB {
  font-family: inherit;
  font-weight: 400;
  font-size: 48px;
  background: hsl(234, 20%, 20%);
  border: 2px solid #f4f1de;
  border-radius: 5px;
  transition: all 0.2s;
  color: #f4f1de;
}

.numB:hover {
  color: black;
  background-color: hsl(234, 20%, 60%);
  border-color: black;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.numB:active {
  background-color: hsl(234, 20%, 90%);
}

.numB#equals {
  background: hsl(151, 24%, 20%);
}

.numB#equals:hover {
  background: hsl(151, 24%, 60%);
  color: black;
  border-color: black;
}

.numB#equals:active {
  background-color: hsl(151, 24%, 90%);
}

.operatorCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 12%;
  padding: 10px 0px;
}

.operB {
  margin: 0px 10px;
  font-family: inherit;
  font-size: 38px;
  height: 50px;
  background-color: hsl(37, 79%, 20%);
  border: 2px solid #f4f1de;
  border-radius: 25px;
  color: #f4f1de;
  transition: all 0.2s;
}

.operB:hover {
  background-color: hsl(37, 79%, 60%);
  border-color: black;
  color: black;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.operB:active {
  background-color: hsl(37, 79%, 90%);
}

.operB#power,
.operB#factorial {
  font-size: 28px;
}
